@use "./_mixins.scss" as mixins;

section {
    &.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block-start: 17.5rem;
    }
}

div {
    &.select {
        display: flex;
        align-items: center;
        min-width: 12rem;
        max-width: 21.875rem;
        margin-block-end: 1.875rem;

        &>p.message {
            font-weight: 500
        }
    }
}

p {
    &.message {
        @include mixins.font_reusable("Inter", 600, 1rem);
        margin-inline-start: .75rem;

        color: #C9C9DC;
        text-align: start;
        transition: all 1s ease 0.2s;
    }
}

a {
    &.option {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 15rem;
        min-height: 2.375rem;
        padding-inline: 1em;
        padding-block-end: .2rem;
        text-align: start;
        border-radius: .5rem;
        border: 1px solid #747380;
        background: #393745;
        text-decoration: none;
        cursor: pointer;


        &>p {
            &.message {
                margin-inline-start: 0;
            }
        }

        &:nth-child(n):not(:first-child) {
            margin-block-end: 1rem;
        }

        &:hover {
            background: linear-gradient(rgb(42, 41, 52) 0%, rgb(38, 36, 48) 100%);
            border: 1px solid transparent;

            &::before {
                content: "";
            }
        }

        &:focus-visible {
            outline: .1rem solid white;
        }

        &:nth-child(2),
        &:nth-child(6) {
            &::before {
                background: linear-gradient(91.08deg, rgba(255, 115, 101, 0.5) 0%, rgba(250, 75, 57, 0.75) 100%);
            }
        }

        &:nth-child(3)::before {
            background: linear-gradient(91.08deg, rgba(146, 235, 196, 0.5) 0%, rgba(20, 221, 137, 0.75) 100%);
        }

        &:nth-child(4)::before {
            background: linear-gradient(91.08deg, rgba(180, 144, 255, 0.5) 0%, rgba(125, 61, 229, 0.75) 100%);
        }

        &:nth-child(5)::before {
            background: linear-gradient(rgb(146, 155, 235) 0%, rgb(41, 84, 238) 100%);
        }

        &::before {

            &:nth-child(3) {
                background: linear-gradient(91.08deg, rgba(146, 235, 196, 0.5) 0%, rgba(20, 221, 137, 0.75) 100%);
            }

            content: none;
            position: absolute;
            inset: -2px;
            border-radius: .5rem;
            z-index: -1;
            opacity: 1;
            transition: width 0.3s linear 0s;


        }
    }
}

button {
    &.demo {
        @include mixins.font_reusable("Inter", 500, 1rem);
        @include mixins.button_reusable;
        color: #FFF;
        width: 100%;
        max-width: 21.875rem;
        height: 3.75rem;
        background: linear-gradient(rgb(247, 111, 98) 0%, rgb(232, 72, 72) 100%);
        box-shadow: rgba(244, 99, 67, 0.56) 0px 4px 24px;
        transition: all 1s ease 0.4s;

        &:hover {
            background: linear-gradient(rgb(255, 149, 138) 0%, rgb(249, 105, 105) 100%);
        }

        &:focus-visible {
            outline: .1rem solid white;
        }

    }
}

img {
    &.icon {
        margin-inline-start: auto;
    }
}

@media screen and (min-width: 284px) {
    a.option {
        // justify-content: center;
        max-width: 21.875rem;
    }
}

@media screen and (min-width: 641px) {
    section {
        &.container {
            grid-column: 2/3;
            align-items: flex-start;
            padding-inline: 1rem;
            margin-block-start: 5.75rem;
        }
    }

    p {
        &.message {
            @include mixins.font_reusable("Inter", 600, 1.25rem);
            white-space: nowrap;
            line-height: 2.215;
        }
    }

    button {
        &.demo {
            @include mixins.font_reusable("Inter", 500, 1.25rem);
        }
    }
}

@media screen and (min-width: 960px) {
    section {
        &.container {
            margin-block-start: 3.25rem;
        }
    }

    div.select {
        &>p.message {
            @include mixins.font_reusable("Inter", 500, 1.5rem);
        }
    }
}