@use "./_mixins.scss" as mixins;

section {

    &.first,
    &.second {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 3.125rem;
    }

    &.second {
        background: rgb(36, 34, 44);
    }
}

p {
    &.title {
        @include mixins.font_reusable("Inter", 800, 1.25rem);
        margin-block-end: 2rem;
        text-align: center;
        line-height: normal;
        color: #FFF;
    }

    &.subtitle {
        font-weight: 600;
        color: #C9C9DC;
        text-align: center;
    }

    &.category {
        color: #FFF;
    }

    &.message {
        margin-block: .5rem .75rem;
        color: #C9C9DC;
        text-align: start;
    }
}

div {

    &.circle {
        width: .75rem;
        height: .75rem;
        margin-inline-start: .5rem;
        margin-block-end: .1rem;
        border-radius: .5rem;
    }

    &.arrow {

        align-items: center;
        justify-content: center;
        position: static;
        width: 2rem;
        height: 2rem;
        right: .5rem;
        bottom: .5rem;
        background: linear-gradient(180deg, #2A2934 0%, #262430 100%);
        border-radius: 1rem;
    }

    &.wrapper {
        align-items: center;
    }

    &.container {
        display: flex;
        flex-direction: column;
        margin-block-start: 3rem;
        gap: 2.25rem;
    }
}

span {
    &.highlight {
        color: #FE6D40;
    }
}

a {
    &.box {
        @include mixins.font_reusable("Inter", 600, 1rem);
        position: relative;
        max-width: 16.85rem;
        min-height: 9.75rem;
        padding-inline: 1.25rem;
        padding-block: 1rem;
        border-radius: 1rem;
        background: linear-gradient(262deg, #3A3845 13.92%, #2C2A36 84.19%);
        transition: all .3s ease-out 0s;

        &>div {
            display: inline-flex;
        }

        &:first-child div.circle {
            background: linear-gradient(180deg, #FF7365 0%, #FA4B39 100%);
        }

        &:nth-child(2) div.circle {
            background: linear-gradient(180deg, #92EBC4 0%, #14DD89 100%);
        }

        &:nth-child(3) div.circle {
            background: linear-gradient(180deg, #B490FF 0%, #7D3DE5 100%);
        }

        &:nth-child(4) div.circle {
            background: linear-gradient(180deg, #929BEB 0%, #2954EE 100%);
        }

        &:hover {
            background: linear-gradient(rgb(42, 41, 52) 0%, rgb(38, 36, 48) 100%);
        }

        &:focus {
            outline: 0.1rem solid white;
        }

        &:nth-child(3) {
            &::before {
                background: linear-gradient(91.08deg, rgba(255, 115, 101, 0.5) 0%, rgba(250, 75, 57, 0.75) 100%);
            }
        }

        &:nth-child(4)::before {
            &:hover {
                width: 100%;
            }

            background: linear-gradient(91.08deg, rgba(146, 235, 196, 0.5) 0%, rgba(20, 221, 137, 0.75) 100%);
            height: 100%;
            width: 0px;
            position: absolute;
            z-index: -1;
            opacity: 1;
            inset: -10px;
        }

        &:nth-child(5)::before {
            background: linear-gradient(91.08deg, rgba(180, 144, 255, 0.5) 0%, rgba(125, 61, 229, 0.75) 100%);
        }

        &:nth-child(6)::before {
            background: linear-gradient(rgb(146, 155, 235) 0%, rgb(41, 84, 238) 100%);
        }

        &::before {

            &:nth-child(3) {
                background: linear-gradient(91.08deg, rgba(146, 235, 196, 0.5) 0%, rgba(20, 221, 137, 0.75) 100%);
            }

            content: "";
            // width: 0px;
            // position: absolute;
            // inset: -1px;
            border-radius: .75rem;
            // z-index: -1;
            // opacity: 1;
            transition: width 0.3s linear 0s;


        }
    }
}

@media screen and (min-width: 641px) {
    section {

        &.first,
        &.second {
            grid-column: 2/3;
        }
    }

    p {
        &.title {
            font-size: 2rem;
            line-height: 1.5;
        }

        &.subtitle {
            font-size: 1.25rem;
            line-height: 1.4;
        }
    }

    div {
        &.container {
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 35.75rem;
            flex-direction: row;
            gap: 1.875rem;
        }
    }
}

@media screen and (min-width: 960px) {
    a {
        &.box {
            width: 100%;
        }
    }

    p {
        &.title {
            font-size: 3rem;
            line-height: 1.33;
        }

        &.subtitle {
            font-size: 1.75rem;
            line-height: 1.43;
        }

        &.category {
            font-size: 1.5rem;
        }
    }

    div {
        &.container {
            max-width: 100%;
            flex-wrap: nowrap;
            gap: 1rem;
            margin-inline: 1rem;
            margin-block-end: 1.875rem;
        }
    }

    section {
        &.first {
            padding: 5rem 0 3.125rem
        }

        &.second {
            padding: 6.25rem 0 3.125rem
        }
    }
}

@media screen and (min-width: 1060px) {
    div {
        &.container {
            margin-inline: 0;
        }
    }
}