@use "./_mixins.scss" as mixins;

section {
    &.container {
        width: 100%;
        background: rgb(36, 34, 44);
        overflow: auto;
        grid-column: 2/3;

        &>div {
            overflow-x: scroll;
            display: flex;
            cursor: grab;

            &::-webkit-scrollbar {
                display: none;
            }

            &>div:nth-child(2) {
                &>div {
                    display: inline-flex;
                    gap: .5rem;
                    height: 100%;

                    &>div>div {
                        height: inherit;
                    }
                }
            }
        }

    }
}

div {
    &.content {
        display: flex !important;
        flex-direction: column;
        width: 18.5rem;
        min-height: 17.25rem;
        height: 100%;
        padding: 1.25rem;
        border-radius: .5rem;
        background: #2C2A35;
    }

    &.writer {
        display: flex;
        margin-block-end: 1rem;
        gap: .5rem;
    }

    &.icons {
        display: flex;
        justify-content: space-between;
        margin-block-start: auto;
    }

    &.wrapper {
        @include mixins.font_reusable("Inter", 600, 1rem);
        margin-inline-start: 1rem;
    }
}

p {

    &.name,
    &.username,
    &.message {
        @include mixins.font_reusable("Inter", 600, 1rem);
        color: #C9C9DC;
        letter-spacing: -0.02rem;
    }

    &.name {
        color: #FFF;
    }

    &.message {
        margin-block-end: 1.35rem;
    }
}

h6 {
    &.title {
        @include mixins.font_reusable("Inter", 500, 1rem);
        text-align: center;
        color: #FFF;
        padding-block-end: 3rem;
    }
}

img {
    &.twitter {
        margin-inline-start: auto;
    }
}

@media screen and (min-width: 287px) {
    div {
        &.writer {
            flex-direction: row;
            gap: 0;

        }
    }
}