@use "./_mixins.scss" as mixins;

section {
    &.container {
        @include mixins.font_reusable("Inter", 800, 1.25rem);
        width: 100%;
        min-height: 10rem;
        padding: 2.5rem 0 5.25rem 0;
        border-radius: .75rem;
        background: rgb(36, 34, 44);
        color: #FFF;
        line-height: 1.75rem;
        grid-column: 2/3;
    }
}

div {
    &.logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7.5rem;

        &>svg,
        &>img {
            width: 11.5rem;
        }
    }

    &.content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
        justify-items: center;
    }
}

h5 {
    &.title {
        display: flex;
        justify-content: center;
        margin-block-end: 1.5rem;
    }
}

@media screen and (min-width: 370px) {
    div {
        &.content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 641px) {
    div {
        &.logo {
            width: 50%;

            &>svg {
                width: auto;
            }

            &>img {
                width: 12.5rem;
                height: 5rem;
            }
        }
    }

    h5 {
        &.title {
            font-size: 2rem;
            line-height: 1.5;
        }
    }
}

@media screen and (min-width: 960px) {
    section {
        &.container {
            padding: 5rem 0 7.5rem;
        }
    }

    h5 {
        &.title {
            font-size: 3rem;
            line-height: 1.33;
            margin-block-end: 2rem;
        }
    }

    div {
        &.content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &.logo {
            width: 25%;
            margin-block-end: 1.875rem;
        }
    }
}