@use "./_mixins.scss" as mixins;

footer {
    &.essentials {
        min-height: 42.875rem;
        background: #101010;
        padding: 37px 12px 120px 12px;
    }
}

p {
    &.footer_title {
        @include mixins.font_reusable("Inter", 800, 1.25rem);
        color: #FFF;
        line-height: 1.375rem;
        padding-block: 1rem 3rem;
    }

    &.container_row_title {
        @include mixins.font_reusable("Inter", 600, 0.875rem);
        margin-inline-end: auto;
        color: #76768D;
        line-height: 1.375rem;
    }

    &.copyright {
        @include mixins.font_reusable("Inter", 600, 1rem);
        margin-block-start: 3rem;
        color: #76768D;
        line-height: 1.5rem;
    }

}

div {
    &.footer_container {
        margin-inline: 1rem;
    }

    &.footer_container_row {
        min-height: 3rem;
        align-items: center;
    }
}