@use "./_mixins.scss" as mixins;

header {
    &.container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 12rem;
        width: 100%;
        padding: 1.625rem 0;
        background: rgba(29, 28, 36, 0.1);
        backdrop-filter: blur(32px);
        z-index: 1;
    }
}

div {
    &.content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1142px;
        padding: 0px 1rem;
    }

    &.toggle {
        display: flex;
        flex-direction: column;
        width: 14px;
        height: 9.4px;
        justify-content: inherit;
        cursor: pointer;
        z-index: 1;
        margin-inline-end: 17px;
    }

    &.popup {
        background: rgb(32, 32, 32);
        backdrop-filter: blur(32px);
        height: 100svh;
        position: fixed;
        width: 100%
    }
}

span {
    &.bar {
        display: flex;
        width: 100%;
        height: .1rem;
        border-radius: 2px;
        background: #EDEFF8;
    }
}

img {
    &.logo {
        margin-inline-start: 5px;
    }
}

nav {
    &.navbar {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        color: white;

        &>ul {
            list-style-type: none;
            padding: 0;
        }
    }
}

ul {
    &.menu {
        display: flex;
        margin-inline-end: auto;

        &>li {
            &.link:first-child {
                padding: .625rem 1.625rem .625rem .75rem;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 6px;
                    height: 10px;
                    right: 10px;
                    transform: rotate(90deg);
                    top: 14px;
                    background: url("../../../public/Features_Arrow.svg") no-repeat;
                }
            }
        }
    }

    &.user {
        display: flex
    }
}

li {

    &.link,
    &.apply {
        @include mixins.font_reusable("Inter", 500, .875rem);
        color: rgb(201, 201, 220);
        padding: .625rem .75rem;

        &>a {
            color: inherit;
            text-decoration: none;
        }
    }

    &.apply {
        border-radius: .25rem;
        border: 1px solid rgb(238, 120, 108);
    }
}

@media screen and (min-width:680px) {
    header {
        &.container {
            padding: 1.25rem 0px;
        }
    }

    div {
        &.content {
            justify-content: flex-start;
        }
    }
}

@media screen and (min-width:768px) and (max-width:960px) {
    ul.menu {
        margin: 1px auto 0px 15px;
    }
}

@media screen and (min-width:960px) {
    ul {
        &.menu {
            margin: 1px auto 0px 69px;
            gap: 1.625rem;
        }

        &.user {
            gap: 1.625rem;
        }
    }
}