main {
    &.layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 680px) {
    main {
        &.layout {
            display: grid;
            grid-template-columns: 1fr minmax(auto, 1142px) 1fr;
            grid-template-rows: repeat(7, auto);
        }
    }
}