@use "./_mixins.scss" as mixins;

main {
    &.page_layout {
        justify-content: center;
    }
}

section {

    &.clients {
        width: 100%;
        // min-height: 34.6875rem;
        min-height: 10rem;
        padding: 2.5rem 0 5.25rem 0;
        border-radius: 0.75rem;
        background: rgb(36, 34, 44);
        @include mixins.font_reusable("Inter", 800, 1.25rem);
        color: #FFF;
        line-height: 1.75rem;

        &>div:nth-child(2) {
            flex-wrap: wrap
        }
    }

    &.carousell {
        width: 100%;
        border-radius: 0.75rem;
        background: rgb(36, 34, 44);

        overflow: auto;

        &>div {
            gap: 1.5rem;
            overflow-x: scroll;
            display: flex;
            cursor: grab;
            scrollbar-width: none;
            transition: scrollLeft 0.3s ease;

            &::-webkit-scrollbar {
                display: none;
            }

            &>div:nth-child(2) {
                &>div {
                    display: inline-flex;
                    gap: .5rem;
                    height: 100%;

                    &>div {
                        height: inherit;

                        &>div {
                            height: inherit;
                        }
                    }
                }
            }
        }

    }

    &.second_business_model {
        background: rgb(36, 34, 44);
        padding-block: 3.125rem;

        &>a.menu_box {
            &:nth-child(2) div.circle {
                background: linear-gradient(180deg, #FF7365 0%, #FA4B39 100%);
            }

            &:nth-child(3) div.circle {
                background: linear-gradient(180deg, #92EBC4 0%, #14DD89 100%);
            }

            &:nth-child(4) div.circle {
                background: linear-gradient(180deg, #B490FF 0%, #7D3DE5 100%);
            }

            &:nth-child(5) div.circle {
                background: linear-gradient(180deg, #929BEB 0%, #2954EE 100%);
            }
        }
    }
}

h6 {
    &.clients_text_two {
        @include mixins.font_reusable("Inter", 500, 1rem);
        text-align: center;
        color: #FFF;
        padding-block-end: 3rem;
    }
}

p {
    &.twitter_review_title {
        @include mixins.font_reusable("Inter", 600, 1rem);
        color: #FFF;
        letter-spacing: -0.02rem;
    }

    &.twitter_review_subtitle {
        @include mixins.font_reusable("Inter", 600, 1rem);
        color: #C9C9DC;
        letter-spacing: -0.02rem;
    }

    &.footer_title {
        @include mixins.font_reusable("Inter", 800, 1.25rem);
        color: #FFF;
        line-height: 1.375rem;
        padding-block: 1rem 3rem;
    }

    &.container_row_title {
        @include mixins.font_reusable("Inter", 600, 0.875rem);
        margin-inline-end: auto;
        color: #76768D;
        line-height: 1.375rem;
    }

    &.copyright {
        @include mixins.font_reusable("Inter", 600, 1rem);
        margin-block-start: 3rem;
        color: #76768D;
        line-height: 1.5rem;
    }

}

div {
    &.clients_logo {
        width: 185px;
        flex-wrap: wrap;
    }

    &.logos_container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-items: center;
    }

    &.carousell_container {
        width: 18.5rem;
        min-height: 17.25rem;
        height: 100%;
        padding: 1.25rem;
        border-radius: 0.5rem;
        background: #2C2A35;
        display: flex !important;

        &>p.twitter_review_subtitle:nth-child(2) {
            margin-block-end: 1.5rem;
        }

        &>div {
            margin-block-end: 1rem;
            gap: .5rem;
        }
    }

    &.twitter_review_icons {
        justify-content: space-between;
        margin-block-start: auto;
    }

    &.footer_container {
        margin-inline: 1rem;
    }

    &.footer_container_row {
        min-height: 3rem;
        align-items: center;
    }
}

img {
    &.twitter_logo {
        margin-inline-start: auto;
    }
}

footer {
    &.essentials {
        min-height: 42.875rem;
        background: #101010;
        padding: 37px 12px 120px 12px;
    }
}

@media screen and (min-width: 287px) {
    div {
        &.carousell_container {
            &>div {
                flex-direction: row;
                gap: 0;

            }
        }
    }
}