@use "./_mixins.scss" as mixins;

section {
    &.trustpilot_review {
        @include mixins.font_reusable("Inter", 500, 1rem);
        text-align: center;
        margin-block-start: 2.25rem;
    }
}

h2 {
    &.ad_spend_title {
        @include mixins.font_reusable("Inter", 800, 1.25rem);
        margin-block-end: 2.5rem;
        color: #EDEFF8;
        text-align: center;
        line-height: normal;
    }
}

p {
    &.message_review_text {
        margin-block-end: 1rem;
        color: #C9C9DC;
    }

    &.message_review_author {
        margin-block-end: calc(1rem - 1px);
        color: #EDEFF8;
    }

    &.ad_spend_subtitle {
        margin-block-end: 6.25rem;
        color: #EDEFF8;
    }
}

svg {
    &.star_icon {
        display: inline-flex;
        transform: translateY(3%) scale(1.35);
        margin-inline: .5rem;
    }
}

figure {
    &.ad_container {
        position: relative;
        margin-block-end: 1.75rem;
    }
}

figcaption {
    &.ad_value {
        @include mixins.font_reusable("Inter", 600, 1.2rem);
        gap: .15rem;
        color: #FFF;
        text-align: center;
        line-height: normal;
        position: absolute;
    }
}

img {
    &.green_polygon {
        margin-inline-end: .375rem;
    }
}

@media screen and (min-width: 287px) {
    figcaption {
        &.ad_value {
            flex-direction: row;
            font-size: 1.5rem;
        }
    }
}