@use "./_mixins.scss" as mixins;

section {
    &.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

h4 {
    &.title {
        @include mixins.font_reusable("Inter", 800, 1.25rem);
        color: #FFF;
        text-align: center;
        line-height: normal;
        text-transform: uppercase;
        margin-block-start: 4.375rem;
        margin-block-end: 3.75rem;
    }
}

div {

    &.content {
        min-width: 12rem;
        width: 90%;
        max-width: 22.8125rem;
        min-height: 21.2rem;
        padding: 2.5rem 1.5rem;
        margin-block-end: 1.875rem;
        border-radius: .75rem;
        background: linear-gradient(262deg, #3A3845 13.92%, #2C2A36 84.19%);
    }

    &.writer {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &.wrapper {
        @include mixins.font_reusable("Inter", 600, 1rem);
        margin-inline-start: 1rem;
    }
}

span {
    &.highlight {
        color: #FE6D40;
    }
}

p {
    &.message {
        @include mixins.font_reusable("Inter", 500, 1.25rem);
        margin-block-start: .875rem;
        margin-block-end: 2rem;
        color: rgb(201, 201, 220);
    }

    &.author {
        color: #FFF;
        letter-spacing: -0.02rem;
    }

    &.description {
        color: #C9C9DC;
        letter-spacing: -0.02rem;
    }
}

@media screen and (min-width: 287px) {
    div {
        &.writer {
            flex-direction: row;
            gap: 0;
        }
    }
}