@use "./_mixins.scss" as mixins;

section {
    &.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 3.125rem;
    }
}

h4 {
    &.title {
        @include mixins.font_reusable("Inter", 800, 1rem);
        color: #FFF;
        text-align: center;
        line-height: normal;
        text-transform: uppercase;
        margin-block-start: 3.125rem;
        margin-block-end: 3.75rem;
    }
}

div {
    &.group {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    }

    &.content {
        max-width: 22.8125rem;
        min-height: 21.2rem;
        padding: 1rem 0;
        border-radius: .75rem;
        background: linear-gradient(262deg, #3A3845 13.92%, #2C2A36 84.19%);
    }

    &.writer {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        &>img:first-child {
            border-radius: .75rem
        }
    }

    &.wrapper {
        @include mixins.font_reusable("Inter", 600, 1rem);
        margin-block: auto;
    }
}

span {
    &.highlight {
        color: #FE6D40;
    }
}

p {
    &.message {
        @include mixins.font_reusable("Inter", 500, 1.25rem);
        margin-block: 0 2rem;
        color: rgb(201, 201, 220);
    }

    &.author {
        color: #FFF;
        letter-spacing: -0.02rem;
    }

    &.description {
        color: #C9C9DC;
        letter-spacing: -0.02rem;
    }
}

@media screen and (min-width: 287px) {
    h4 {
        &.title {
            font-size: 1.25rem;
        }
    }

    div {
        &.content {
            padding: 2.5rem 1.5rem;
        }

        &.writer {
            flex-direction: row;
            gap: 0;
        }

        &.wrapper {
            margin-inline-start: 1rem;
        }
    }

    p {
        &.message {
            margin-block-start: .875rem;
        }
    }
}

@media screen and (min-width: 641px) {
    section {
        &.container {
            grid-column: 2/3;
        }
    }

    div {
        &.content {
            display: flex;
            flex-direction: column;
            max-width: none;
        }

        &.group {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &.writer {
            margin-block-start: auto;
        }
    }

    p {
        &.message {
            word-spacing: 2px;
        }

        &.author {
            font-size: 1.25rem;
            line-height: 1.4;
            letter-spacing: -0.02em;
        }
    }
}

@media screen and (min-width:960px) {
    h4 {
        &.title {
            font-size: 3rem;
            line-height: 1.34;
            margin-block-start: 0;
        }
    }

    section {
        &.container {
            margin-block: 10.25rem;
        }
    }

    p {
        &.message {
            font-size: 1.5rem;
            margin-block: 0 1.25rem;
        }
    }

    div {
        &.writer {
            justify-content: flex-start;
            padding-inline-start: 2.875rem;

            &>img:first-child {
                width: 4.5rem;
                height: 4.5rem;
            }
        }

        &.message-container {
            display: flex;
            gap: 1.25rem;

        }
    }
}