@use "./_mixins.scss" as mixins;

section {
    &.container {
        margin-block-start: 6.5625rem;
        text-align: center;
        line-height: normal;
    }
}

p {
    &.main {
        @include mixins.font_reusable("Inter", 700, 3rem);
        color: #EDEFF8;
    }

    &.secondary {
        @include mixins.font_reusable("Inter", 700, 3rem);
        justify-content: center;
        background: linear-gradient(180deg, #FF7365 0%, #FA4B39 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.roi {
        @include mixins.font_reusable("Inter", 600, 1rem);
        margin-block-start: 1.5rem;
        color: #C5C5D8;
    }
}